server:
  port: 8080

spring:
  application:
    name: linkhub-api

  datasource:
    url: jdbc:postgresql://localhost:5432/linkhub
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"

          facebook:
            client-id: ${FACEBOOK_CLIENT_ID}
            client-secret: ${FACEBOOK_CLIENT_SECRET}
            scope:
              - email
              - public_profile
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"

app:
  auth:
    token-secret: ${JWT_SECRET:5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437}
    token-expiration-msec: 864000000 # 10 days
  oauth2:
    authorized-redirect-uris:
      - http://localhost:3000/oauth2/redirect
      - https://linkhub.io/oauth2/redirect
  cors:
    allowed-origins:
      - http://localhost:3000
      - https://linkhub.io
  link:
    base-url: ${LINK_BASE_URL:link.io}